body {
    background-color: gray;
    color: whitesmoke;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

#navbar {
    height: 3vw;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.titulo_pagina {
    padding-left: 3vw;
}

.subtitulo_pagina{
    padding: 3vw;
}

#caixa_form{
    height: 19vw;
    width: 34vw;
    border: black;
    border-style: solid;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

form.formulario {
    width: 30vw;
    display: grid;
    flex-direction: column;
    text-align: left;
}